
body {
    height: 60rem;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(14,143,205,.5) 100%);
}

h1{
    font-family: 'Shippori Mincho B1', serif;
}


.introduction-bin{
    margin-top: 8rem;
}

.visualization-bin{
    /* margin: 4rem 4rem 4rem 4rem; */
    margin-left: 20rem;
    margin-top: 4rem;
}